<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MongoMapperConfig" type="EtoolTech.MongoDB.Mapper.Configuration.MongoMapperConfiguration, EtoolTech.MongoDB.Mapper"/>
  </configSections>
  <MongoMapperConfig>
    <Server Host="127.0.0.1" Port="27017" PoolSize="5" WaitQueueTimeout="1"/>
    <Database Name="TestDotNET" User="" Password=""/>
    <Context Generated="true" SafeMode="true" FSync="false" ExceptionOnDuplicateKey="true" EnableOriginalObject="true" UserIncrementalId="true"/>
  </MongoMapperConfig>
</configuration>