<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MongoMapperConfig" type="EtoolTech.MongoDB.Mapper.Configuration.MongoMapperConfiguration, EtoolTech.MongoDB.Mapper"/>
  </configSections>
  <MongoMapperConfig>
    <Server Host="192.168.1.214" Port="27017" PoolSize="5" WaitQueueTimeout="1"/>
    <Database Name="TestDotNET" User="" Password=""/>
    <Context Generated="true" MaxDocumentSize="8" SafeMode="true" FSync="false" ExceptionOnDuplicateKey="true" EnableOriginalObject="true" UseIncrementalId="true"/>
    <CollectionConfig>
      <add Name="Person">
        <Server Host="192.168.1.214" Port="27017" PoolSize="10" WaitQueueTimeout="2"/>
        <Database Name="TestDotNETPerson" User="user" Password="pass"/>
        <Context Generated="true" MaxDocumentSize="8" SafeMode="true" FSync="true" ExceptionOnDuplicateKey="true" EnableOriginalObject="true" UseIncrementalId="false"/>
      </add> 
    </CollectionConfig>
  </MongoMapperConfig>
</configuration>