<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="MongoMapperConfig"
             type="EtoolTech.MongoDB.Mapper.Configuration.MongoMapperConfiguration, EtoolTech.MongoDB.Mapper" />
  </configSections>
  <MongoMapperConfig>
    <Server Url="mongodb://127.0.0.1" />
    <Database Name="TestDotNET" />
    <Context Generated="true" MaxDocumentSize="8" ExceptionOnDuplicateKey="true"
             EnableOriginalObject="true" UseIncrementalId="true" UseChidlsIncrementalId="false" />
    <CollectionConfig>
      <add Name="TestConf1">
        <Server Url="mongodb://host1:27017,host2:27017,host3:1234/?readPreference=primaryPreferred;w=2" />
        <Database Name="Conf1"/>
        <Context Generated="true" MaxDocumentSize="8" ExceptionOnDuplicateKey="true"
                 EnableOriginalObject="true" UseIncrementalId="false" UseChidlsIncrementalId="true" />
      </add>
      <add Name="Person">
        <Server Url="mongodb://127.0.0.1" />
        <Database Name="TestDotNETPerson"/>
        <Context Generated="true" MaxDocumentSize="8" ExceptionOnDuplicateKey="true"
                 EnableOriginalObject="true" UseIncrementalId="true" UseChidlsIncrementalId="false" />
      </add>
    </CollectionConfig>
  </MongoMapperConfig>
</configuration>