<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MongoMapperConfig" type="EtoolTech.MongoDB.Mapper.Configuration.MongoMapperConfiguration, EtoolTech.MongoDB.Mapper"/>
  </configSections>
  <MongoMapperConfig>
    <Server Host="192.168.1.214:27017,192.168.1.216:27017,192.168.1.14:27017" ReplicaSetName="devSet" MinReplicaServersToWrite="1" BalancedReading="true" PoolSize="50" WaitQueueTimeout="1"/>
    <Database Name="TestDotNET" User="" Password=""/>
    <Context Generated="true" MaxDocumentSize="8" SafeMode="true" FSync="true" ExceptionOnDuplicateKey="true" EnableOriginalObject="true" UseIncrementalId="true" UseChidlsIncrementalId="false"/>
    <CollectionConfig>
      <add Name="Person">
        <Server Host="192.168.1.214:27017,192.168.1.216:27017,192.168.1.14:27017" ReplicaSetName="devSet" MinReplicaServersToWrite="1" BalancedReading="true" PoolSize="50" WaitQueueTimeout="2"/>
        <Database Name="TestDotNETPerson" User="" Password=""/>
        <Context Generated="true" MaxDocumentSize="8" SafeMode="true" FSync="true" ExceptionOnDuplicateKey="true" EnableOriginalObject="true" UseIncrementalId="false" UseChidlsIncrementalId="true"/>
      </add>
      <add Name="Fake">
        <Server Host="fake.com:27017" ReplicaSetName="" MinReplicaServersToWrite="0" BalancedReading="false" PoolSize="100" WaitQueueTimeout="2"/>
        <Database Name="Test" User="user" Password="pass"/>
        <Context Generated="true" MaxDocumentSize="8" SafeMode="true" FSync="false" ExceptionOnDuplicateKey="true" EnableOriginalObject="true" UseIncrementalId="false" UseChidlsIncrementalId="false"/>
      </add>
    </CollectionConfig>
  </MongoMapperConfig>
</configuration>